body {
   margin: 0px;
}

@media (max-width: 575.98px) {
   #sectionOne {
      max-height: 770px;
      width: 100%;
   }

   #sectionOne>div {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .imagenOneSlider {
      width: 100%;
   }

   .divContainerOneSlider {
      position: absolute;
      width: 100%;
      margin-top: 4%;
      font-size: 3vw;
      color: white;
      text-align: center;
   }

   .divContainerOneSlider>h1 {
      font-family: 'Pacifico', cursive;
      font-size: 7vw;
      margin: 0px;


   }

   .divContainerOneSlider>p {
      font-family: 'Montserrat', sans-serif;
      font-size: 4vw;

   }

   .divContainerOneSlider>a {
      font-family: 'Montserrat', sans-serif;
      background-color: #86bc42;
      border-radius: 14px;
      padding: 1vw 2vw 1vw 2vw;
      font-size: 2.8vw;

   }

   #sectionTwo>h2 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 6vw;
      margin-bottom: 0px;
   }

   .containerWelcome {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
   }

   .containerWelcome>div {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #sectionTwo>div:nth-child(3) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #sectionTwo>div:nth-child(3)>span {
      font-family: 'Pacifico', cursive;
      font-size: 18px;
   }

   #sectionTwo>div:nth-child(3)>p {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-size: 12px;
      margin: 0px 27px 0px 27px;
   }

   #sectionTwo>div:nth-child(3)>img {
      margin-top: 25px;
   }

   .containerWelcome>div:nth-child(2)>img {
      display: none;
   }

   .containerWelcome>div>span {
      font-family: 'Pacifico', cursive;
      font-size: 18px;
   }

   .containerWelcome>div>p {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-size: 12px;
      margin: 0px 27px 0px 27px;
   }

   .containerWelcome>div>img {
      margin-top: 25px;
      object-fit: contain;
   }

   #sectionCategories>h3 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 6vw;
      margin-bottom: 0px;
   }

   .containerCategories {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
   }

   .containerCategories>div {
      width: 148px;

   }

   .containerCategories>div>a {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .containerCategories>div>a>span {
      font-family: "Montserrat";
      font-weight: 800;
      font-style: normal;
      font-size: 19px;
      text-align: center;
   }

   .buttonVerTodo {
      display: flex;
      background-color: #86bc42;
      width: 25vw;
      align-items: center;
      margin: 0 auto;
      font-family: Montserrat;
      color: white;
      border-radius: 18px;
      height: 7vw;
      margin-top: 32px;
      font-size: 3.5vw;
      justify-content: center;
   }

   #sectionPopulares {}

   #sectionPopulares>h4 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 6vw;
      margin-bottom: 0px;
   }

   .containerPopulares {
      display: flex;
      justify-content: space-evenly;
      font-family: montserrat;
      flex-wrap: wrap;
      align-items: flex-end;
   }

   .containerPopulares>div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 148px;
   }

   .containerPopulares>div>a {
      background-color: #86bc42;
      border-radius: 10px;
      color: white;
      text-align: center;
      height: 6vw;
      font-size: 3vw;
      width: 22vw;
      justify-content: center;
      display: flex;
      padding: 1%;
      align-items: center;
   }

   .divNewsLetter {
      text-align: center;
      background-color: #86bc42;
      width: 72vw;
      margin: 0 auto;
      color: white;
      margin-top: 49px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Montserrat;
      padding: 6vw;
      margin-bottom: 40px;
      box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
   }


   .formNewsLetter {
      display: flex;
      flex-direction: column;
   }
   
   .divNewsLetter>span {
      font-size: 5vw;
   }
   
   .divNewsLetter>p {
      font-size: 3vw;
   }
   
   .formNewsLetter>label:nth-child(1)>input {
      border: none;
      font-family: montserrat;
      padding: 7px;
   }
   
   .formNewsLetter>label:nth-child(2)>input {
      font-size: 3vw;
      margin-bottom: 11px;
   }
   
   .formNewsLetter>label:nth-child(2) {
      font-size: 11px;
   }
   
   .formNewsLetter>input {
      width: 27vw;
      font-family: Montserrat;
      margin: 0 auto;
      border-radius: 8px;
      background-color: white;
      padding: 5px;
      border: none;
      margin-top: 11px;
      font-size: 3vw;
   }











}





@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}


@media (min-width: 992px) and (max-width: 1199.98px) {}


@media (min-width: 1200px) {}