body {
   margin: 0px;
}

@media (max-width: 575.98px) {
   #sectionOne {
      max-height: 770px;
      width: 100%;
   }

   #sectionOne>div {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .imagenOneSlider {
      width: 100%;
   }

   .divContainerOneSlider {
      position: absolute;
      width: 100%;
      margin-top: 8%;
      font-size: 3vw;
      color: white;
      text-align: center;
   }

   .divContainerOneSlider>h1 {
      font-family: 'Pacifico', cursive;
      font-size: 6vw;
      margin: 0px;


   }

   .divContainerOneSlider>p {
      font-family: 'Montserrat', sans-serif;
      font-size: 2.5vw;

   }

   .divContainerOneSlider>a {
      font-family: 'Montserrat', sans-serif;
      background-color: #86bc42;
      border-radius: 14px;
      padding: 1vw 2vw 1vw 2vw;
      font-size: 2vw;

   }

   #sectionTwo>h2 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 6vw;
   }

   .containerWelcome {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
   }

   .containerWelcome>div {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #sectionTwo>div:nth-child(3) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   #sectionTwo>div:nth-child(3)>span {
      font-family: 'Pacifico', cursive;
      font-size: 18px;
   }
   #sectionTwo>div:nth-child(3)>p {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-size: 12px;
      margin: 0px 27px 0px 27px;
   }
   #sectionTwo>div:nth-child(3)>img {
      margin-top: 25px;
   }
   .containerWelcome > div:nth-child(2) > img{
      display: none;
   }
   .containerWelcome > div > span{
      font-family: 'Pacifico', cursive;
      font-size: 18px;
   }
   .containerWelcome > div > p{
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-size: 12px;
      margin: 0px 27px 0px 27px;
   }
   .containerWelcome > div>img{
      margin-top: 25px;
   }

}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}


@media (min-width: 992px) and (max-width: 1199.98px) {}


@media (min-width: 1200px) {}