body {
   margin: 0px;
}

@media (max-width: 575.98px) {

   .buttonsContainerSlider{
      position: absolute;
      z-index: 1;
      max-width: 1440px;
      width: 100%;
      margin-top: 25%;
      display: flex;
      justify-content: space-between;
      }

   .buttonLeft {
      height: 26px;
   }

   .buttonRight {
      height: 26px;
   }

   #sectionOne {
      width: 100vw;
      display: flex;
      height: 54vw;
      overflow-x: hidden;
   }


   .containerCarrouselContent {
      width: 575px;
      position: relative;
   }

   .containerCarrouselContent>div:nth-child(2) {
      position: relative;
      top: -100%;
      left: 100%;
   }

   .containerCarrouselContent>div:nth-child(3) {
      position: relative;
      top: -200%;
      left: 200%;

   }

   .imagenOneSlider {
      width: 100%;
   }

   .divContainerOneSlider {
      position: absolute;
      width: 100%;
      margin-top: 4%;
      font-size: 3vw;
      color: white;
      text-align: center;
   }

   .divContainerOneSlider>h1 {
      font-family: 'Pacifico', cursive;
      font-size: 7vw;
      margin: 0px;


   }

   .divContainerOneSlider>p {
      font-family: 'Montserrat', sans-serif;
      font-size: 4vw;

   }

   .divContainerOneSlider>a {
      font-family: 'Montserrat', sans-serif;
      background-color: #86bc42;
      border-radius: 14px;
      padding: 1vw 2vw 1vw 2vw;
      font-size: 2.8vw;

   }

   #sectionTwo>h2 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 6vw;
      margin-bottom: 0px;
   }

   .containerWelcome {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
   }

   .containerWelcome>div {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #sectionTwo>div:nth-child(3) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #sectionTwo>div:nth-child(3)>span {
      font-family: 'Pacifico', cursive;
      font-size: 4vw;
   }

   #sectionTwo>div:nth-child(3)>p {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-size: 12px;
      margin: 0px 27px 0px 27px;
   }

   #sectionTwo>div:nth-child(3)>img {
      margin-top: 25px;
   }

   .containerWelcome>div:nth-child(2)>img {
      display: none;
   }

   .containerWelcome>div>span {
      font-family: 'Pacifico', cursive;
      font-size: 4vw;
   }

   .containerWelcome>div>p {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-size: 12px;
      margin: 0px 27px 0px 27px;
   }

   .containerWelcome>div>img {
      margin-top: 25px;
      object-fit: contain;
   }

   #sectionCategories>h3 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 6vw;
      margin-bottom: 0px;
   }

   .containerCategories {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
   }

   .containerCategories>div {
      width: 148px;

   }

   .containerCategories>div>a {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .containerCategories>div>a>span {
      font-family: "Montserrat";
      font-weight: 800;
      font-style: normal;
      font-size: 19px;
      text-align: center;
   }

   .buttonVerTodo {
      display: flex;
      background-color: #86bc42;
      width: 25vw;
      align-items: center;
      margin: 0 auto;
      font-family: Montserrat;
      color: white;
      border-radius: 18px;
      height: 7vw;
      margin-top: 32px;
      font-size: 3.5vw;
      justify-content: center;
   }

   #sectionPopulares {}

   #sectionPopulares>h4 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 6vw;
      margin-bottom: 0px;
   }

   .containerPopulares {
      display: flex;
      justify-content: space-evenly;
      font-family: montserrat;
      flex-wrap: wrap;
      align-items: flex-end;
   }

   .containerPopulares>div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 148px;
   }

   .containerPopulares>div>a {
      background-color: #86bc42;
      border-radius: 10px;
      color: white;
      text-align: center;
      height: 6vw;
      font-size: 3vw;
      width: 22vw;
      justify-content: center;
      display: flex;
      padding: 1%;
      align-items: center;
   }

   .divNewsLetter {
      text-align: center;
      background-color: #86bc42;
      width: 72vw;
      margin: 0 auto;
      color: white;
      margin-top: 49px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Montserrat;
      padding: 6vw;
      margin-bottom: 40px;
      box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
   }


   .formNewsLetter {
      display: flex;
      flex-direction: column;
   }

   .divNewsLetter>span {
      font-size: 5vw;
   }

   .divNewsLetter>p {
      font-size: 3vw;
   }

   .formNewsLetter>label:nth-child(1)>input {
      border: none;
      font-family: montserrat;
      padding: 7px;
   }

   .formNewsLetter>label:nth-child(2)>input {
      font-size: 3vw;
      margin-bottom: 11px;
   }

   .formNewsLetter>label:nth-child(2) {
      font-size: 11px;
   }

   .formNewsLetter>input {
      width: 27vw;
      font-family: Montserrat;
      margin: 0 auto;
      border-radius: 8px;
      background-color: white;
      padding: 5px;
      border: none;
      margin-top: 11px;
      font-size: 3vw;
   }











}





@media (min-width: 576px) and (max-width: 767.98px) {
   .buttonsContainerSlider{
      position: absolute;
      z-index: 1;
      max-width: 1440px;
      width: 100%;
      margin-top: 25%;
      display: flex;
      justify-content: space-between;
      }
   .buttonLeft {
      height: 42px;
   }

   .buttonRight {
      height: 42px;
   }

   #sectionOne {
      width: 101vw;
      display: flex;
      height: 54vw;
      overflow-x: hidden;
   }


   .containerCarrouselContent {
      width: 100%;
      position: relative;
   }

   .containerCarrouselContent>div:nth-child(2) {
      position: relative;
      top: -100%;
      left: 100%;
   }

   .containerCarrouselContent>div:nth-child(3) {
      position: relative;
      top: -200%;
      left: 200%;

   }

   .imagenOneSlider {
      width: 100%;
   }

   .divContainerOneSlider {
      position: absolute;
      width: 100%;
      margin-top: 4%;
      font-size: 3vw;
      color: white;
      text-align: center;
   }

   .divContainerOneSlider>h1 {
      font-family: 'Pacifico', cursive;
      font-size: 7vw;
      margin: 0px;


   }

   .divContainerOneSlider>p {
      font-family: 'Montserrat', sans-serif;
      font-size: 4vw;

   }

   .divContainerOneSlider>a {
      font-family: 'Montserrat', sans-serif;
      background-color: #86bc42;
      border-radius: 14px;
      padding: 1vw 2vw 1vw 2vw;
      font-size: 2.8vw;

   }

   #sectionTwo>h2 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 6vw;
      margin-bottom: 0px;
   }

   .containerWelcome {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
   }

   .containerWelcome>div {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #sectionTwo>div:nth-child(3) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #sectionTwo>div:nth-child(3)>span {
      font-family: 'Pacifico', cursive;
      font-size: 4vw;
   }

   #sectionTwo>div:nth-child(3)>p {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-size: 12px;
      margin: 0px 27px 0px 27px;
   }

   #sectionTwo>div:nth-child(3)>img {
      margin-top: 25px;
   }

   .containerWelcome>div:nth-child(2)>img {
      display: none;
   }

   .containerWelcome>div>span {
      font-family: 'Pacifico', cursive;
      font-size: 4vw;
   }

   .containerWelcome>div>p {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-size: 12px;
      margin: 0px 27px 0px 27px;
   }

   .containerWelcome>div>img {
      margin-top: 25px;
      object-fit: contain;
   }

   #sectionCategories>h3 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 6vw;
      margin-bottom: 0px;
   }

   .containerCategories {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
   }

   .containerCategories>div {
      width: 148px;

   }

   .containerCategories>div>a {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .containerCategories>div>a>span {
      font-family: "Montserrat";
      font-weight: 800;
      font-style: normal;
      font-size: 19px;
      text-align: center;
   }

   .buttonVerTodo {
      display: flex;
      background-color: #86bc42;
      width: 25vw;
      align-items: center;
      margin: 0 auto;
      font-family: Montserrat;
      color: white;
      border-radius: 18px;
      height: 7vw;
      margin-top: 32px;
      font-size: 3.5vw;
      justify-content: center;
   }

   #sectionPopulares {}

   #sectionPopulares>h4 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 6vw;
      margin-bottom: 0px;
   }

   .containerPopulares {
      display: flex;
      justify-content: space-evenly;
      font-family: montserrat;
      flex-wrap: wrap;
      align-items: flex-end;
   }

   .containerPopulares>div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 192px;
   }

   .containerPopulares>div>a {
      background-color: #86bc42;
      border-radius: 10px;
      color: white;
      text-align: center;
      height: 6vw;
      font-size: 3vw;
      width: 22vw;
      justify-content: center;
      display: flex;
      padding: 1%;
      align-items: center;
   }

   .divNewsLetter {
      text-align: center;
      background-color: #86bc42;
      width: 72vw;
      margin: 0 auto;
      color: white;
      margin-top: 49px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Montserrat;
      padding: 6vw;
      margin-bottom: 40px;
      box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
   }


   .formNewsLetter {
      display: flex;
      flex-direction: column;
   }

   .divNewsLetter>span {
      font-size: 5vw;
   }

   .divNewsLetter>p {
      font-size: 3vw;
   }

   .formNewsLetter>label:nth-child(1)>input {
      border: none;
      font-family: montserrat;
      padding: 7px;
   }

   .formNewsLetter>label:nth-child(2)>input {
      font-size: 3vw;
      margin-bottom: 11px;
   }

   .formNewsLetter>label:nth-child(2) {
      font-size: 11px;
   }

   .formNewsLetter>input {
      width: 27vw;
      font-family: Montserrat;
      margin: 0 auto;
      border-radius: 8px;
      background-color: white;
      padding: 5px;
      border: none;
      margin-top: 11px;
      font-size: 3vw;
   }


}

@media (min-width: 768px) and (max-width: 991.98px) {
   .buttonsContainerSlider{
      position: absolute;
      z-index: 1;
      max-width: 1440px;
      width: 100%;
      margin-top: 25%;
      display: flex;
      justify-content: space-between;
   }
   .buttonLeft {
      /* position: absolute;
      top: 20vw;
      z-index: 1;
      width: 6vw; */
   }

   .buttonRight {
      /* position: absolute;
      top: 20vw;
      left: 93%;
      width: 6vw;
      z-index: 1; */
   }

   #sectionOne {
      width: 101vw;
      display: flex;
      height: 54vw;
      overflow-x: hidden;
   }


   .containerCarrouselContent {
      width: 100%;
      position: relative;
   }

   .containerCarrouselContent>div:nth-child(2) {
      position: relative;
      top: -100%;
      left: 100%;
   }

   .containerCarrouselContent>div:nth-child(3) {
      position: relative;
      top: -200%;
      left: 200%;

   }

   .imagenOneSlider {
      width: 100%;
   }

   .divContainerOneSlider {
      position: absolute;
      width: 100%;
      margin-top: 4%;
      font-size: 3vw;
      color: white;
      text-align: center;
   }

   .divContainerOneSlider>h1 {
      font-family: 'Pacifico', cursive;
      font-size: 6vw;
      margin: 0px;


   }

   .divContainerOneSlider>p {
      font-family: 'Montserrat', sans-serif;
      font-size: 3vw;

   }

   .divContainerOneSlider>a {
      font-family: 'Montserrat', sans-serif;
      background-color: #86bc42;
      border-radius: 14px;
      padding: 1vw 2vw 1vw 2vw;
      font-size: 1.8vw;

   }

   #sectionTwo>h2 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 5vw;
      margin-bottom: 0px;
   }

   .containerWelcome {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
   }

   .containerWelcome>div {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #sectionTwo>div:nth-child(3) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #sectionTwo>div:nth-child(3)>span {
      font-family: 'Pacifico', cursive;
      font-size: 3vw;
   }

   #sectionTwo>div:nth-child(3)>p {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      margin: 0px 27px 0px 27px;
   }

   #sectionTwo>div:nth-child(3)>img {
      margin-top: 25px;
   }

   .containerWelcome>div:nth-child(2)>img {
      display: none;
   }

   .containerWelcome>div>span {
      font-family: 'Pacifico', cursive;
      font-size: 3vw;
   }

   .containerWelcome>div>p {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      margin: 0px 27px 0px 27px;
   }

   .containerWelcome>div>img {
      margin-top: 25px;
      object-fit: contain;
   }

   #sectionCategories>h3 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 5vw;
      margin-bottom: 0px;
   }

   .containerCategories {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
   }

   .containerCategories>div {
      width: 200px;

   }

   .containerCategories>div>a {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .containerCategories>div>a>span {
      font-family: "Montserrat";
      font-weight: 800;
      font-style: normal;
      font-size: 19px;
      text-align: center;
   }

   .buttonVerTodo {
      display: flex;
      background-color: #86bc42;
      width: 20vw;
      align-items: center;
      margin: 0 auto;
      font-family: Montserrat;
      color: white;
      border-radius: 18px;
      height: 5vw;
      margin-top: 32px;
      font-size: 2.5vw;
      justify-content: center;
   }

   #sectionPopulares>h4 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 5vw;
      margin-bottom: 0px;
   }

   .containerPopulares {
      display: flex;
      justify-content: space-evenly;
      font-family: montserrat;
      flex-wrap: wrap;
      align-items: flex-end;
   }

   .containerPopulares>div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 256px;
   }

   .containerPopulares>div>a {
      background-color: #86bc42;
      border-radius: 10px;
      color: white;
      text-align: center;
      height: 4vw;
      font-size: 2vw;
      width: 16vw;
      justify-content: center;
      display: flex;
      padding: 1%;
      align-items: center;
   }

   .divNewsLetter {
      text-align: center;
      background-color: #86bc42;
      width: 72vw;
      margin: 0 auto;
      color: white;
      margin-top: 49px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Montserrat;
      padding: 2vw;
      margin-bottom: 40px;
      box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
   }


   .formNewsLetter {
      display: flex;
      flex-direction: column;
   }

   .divNewsLetter>span {
      font-size: 4vw;
   }

   .divNewsLetter>p {
      font-size: 2vw;
   }

   .formNewsLetter>label:nth-child(1)>input {
      border: none;
      font-family: montserrat;
      padding: 7px;
   }

   .formNewsLetter>label:nth-child(2)>input {
      font-size: 3vw;
      margin-bottom: 11px;
   }

   .formNewsLetter>label:nth-child(2) {
      font-size: 11px;
   }

   .formNewsLetter>input {
      width: 23vw;
      font-family: Montserrat;
      margin: 0 auto;
      border-radius: 8px;
      background-color: white;
      padding: 5px;
      border: none;
      margin-top: 11px;
      font-size: 2vw;
   }

}


@media (min-width: 992px) and (max-width: 1199.98px) {
   .buttonsContainerSlider{
      position: absolute;
      z-index: 1;
      max-width: 1440px;
      width: 100%;
      margin-top: 25%;
      display: flex;
      justify-content: space-between;
   }
  
   .buttonLeft {
      /* position: absolute;
      top: 20vw;
      z-index: 1;
      width: 6vw; */
   }

   .buttonRight {
      /* position: absolute;
      top: 20vw;
      left: 93%;
      width: 6vw;
      z-index: 1; */
   }

   #sectionOne {
      width: 101vw;
      display: flex;
      height: 54vw;
      overflow-x: hidden;
   }


   .containerCarrouselContent {
      width: 100%;
      position: relative;
   }

   .containerCarrouselContent>div:nth-child(2) {
      position: relative;
      top: -100%;
      left: 100%;
   }

   .containerCarrouselContent>div:nth-child(3) {
      position: relative;
      top: -200%;
      left: 200%;

   }

   .imagenOneSlider {
      width: 100%;
   }

   .divContainerOneSlider {
      position: absolute;
      width: 100%;
      margin-top: 10%;
      font-size: 3vw;
      color: white;
      text-align: center;
   }

   .divContainerOneSlider>h1 {
      font-family: 'Pacifico', cursive;
      font-size: 6vw;
      margin: 0px;


   }

   .divContainerOneSlider>p {
      font-family: 'Montserrat', sans-serif;
      font-size: 3vw;

   }

   .divContainerOneSlider>a {
      font-family: 'Montserrat', sans-serif;
      background-color: #86bc42;
      border-radius: 14px;
      padding: 1vw 2vw 1vw 2vw;
      font-size: 1.8vw;

   }

   #sectionTwo>h2 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 4vw;
      margin-bottom: 0px;
   }

   .containerWelcome {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
   }

   .containerWelcome>div {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #sectionTwo>div:nth-child(3) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #sectionTwo>div:nth-child(3)>span {
      font-family: 'Pacifico', cursive;
      font-size: 2vw;
   }

   #sectionTwo>div:nth-child(3)>p {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      margin: 0px 27px 0px 27px;
   }

   #sectionTwo>div:nth-child(3)>img {
      margin-top: 25px;
   }

   .containerWelcome>div:nth-child(2)>img {
      max-width: 343px;
   }

   .containerWelcome>div>span {
      font-family: 'Pacifico', cursive;
      font-size: 2vw;
   }

   .containerWelcome>div>p {
      font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 220px;
    margin: 0px 27px 0px 27px;
   }

   .containerWelcome>div>img {
      margin-top: 25px;
      object-fit: contain;
   }

   #sectionCategories>h3 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 4vw;
      margin-bottom: 0px;
   }

   .containerCategories {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
   }

   .containerCategories>div {
      width: 248px;

   }

   .containerCategories>div>a {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .containerCategories>div>a>span {
      font-family: "Montserrat";
      font-weight: 800;
      font-style: normal;
      font-size: 19px;
      text-align: center;
   }

   .buttonVerTodo {
      display: flex;
      background-color: #86bc42;
      width: 17vw;
      align-items: center;
      margin: 0 auto;
      font-family: Montserrat;
      color: white;
      border-radius: 18px;
      height: 3vw;
      margin-top: 54px;
      font-size: 2vw;
      justify-content: center;
   }

   #sectionPopulares>h4 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 4vw;
      margin-bottom: 0px;
   }

   .containerPopulares {
      display: flex;
      justify-content: space-evenly;
      font-family: montserrat;
      flex-wrap: wrap;
      align-items: flex-end;
   }

   .containerPopulares>div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 256px;
   }

   .containerPopulares>div>a {
      background-color: #86bc42;
      border-radius: 10px;
      color: white;
      text-align: center;
      height: 2.5vw;
      font-size: 1.5vw;
      width: 13vw;
      justify-content: center;
      display: flex;
      padding: 1%;
      align-items: center;
   }

   .divNewsLetter {
      text-align: center;
      background-color: #86bc42;
      width: 72vw;
      margin: 0 auto;
      color: white;
      margin-top: 49px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Montserrat;
      padding: 2vw;
      margin-bottom: 40px;
      box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
   }


   .formNewsLetter {
      display: flex;
      flex-direction: column;
   }

   .divNewsLetter>span {
      font-size: 3vw;
   }

   .divNewsLetter>p {
      font-size: 1.5vw;
   }

   .formNewsLetter>label:nth-child(1)>input {
      border: none;
      font-family: montserrat;
      padding: 7px;
   }

   .formNewsLetter>label:nth-child(2)>input {
      font-size: 3vw;
      margin-bottom: 11px;
   }

   .formNewsLetter>label:nth-child(2) {
      font-size: 11px;
   }

   .formNewsLetter>input {
      width: 18vw;
      font-family: Montserrat;
      margin: 0 auto;
      border-radius: 8px;
      background-color: white;
      padding: 5px;
      border: none;
      margin-top: 11px;
      font-size: 1.5vw;
   }
}


@media (min-width: 1200px) {

   .buttonsContainerSlider{
      position: absolute;
    z-index: 1;
    max-width: 1440px;
    width: 100%;
    display: flex;
    padding-top: 306px;
    justify-content: space-between;
   }
   .buttonLeft {
      height: 89px;
   }

   .buttonRight {
      height: 89px;
   }

   #sectionOne {
      width: 101vw;
      display: flex;
      height: 54vw;
      overflow-x: hidden;
      max-width: 1440px;
      margin: 0 auto;
      max-height: 769px;
   }


   .containerCarrouselContent {
      width: 100%;
      position: relative;
   }

   .containerCarrouselContent>div:nth-child(2) {
      position: relative;
      top: -100%;
      left: 100%;
   }

   .containerCarrouselContent>div:nth-child(3) {
      position: relative;
      top: -200%;
      left: 200%;

   }

   .imagenOneSlider {
      width: 100%;
   }

   .divContainerOneSlider {
      position: absolute;
      width: 100%;
      margin-top: 10%;
      font-size: 3vw;
      color: white;
      text-align: center;
   }

   .divContainerOneSlider>h1 {
      font-family: 'Pacifico', cursive;
      font-size: 88px;
      margin: 0px;


   }

   .divContainerOneSlider>p {
      font-family: 'Montserrat', sans-serif;
      font-size: 39px;

   }

   .divContainerOneSlider>a {
      font-family: 'Montserrat', sans-serif;
      background-color: #86bc42;
      border-radius: 14px;
      padding: 16px 16px 16px 16px;
      font-size: 23px;

   }

   #sectionTwo>h2 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 4vw;
      margin-bottom: 0px;
   }

   .containerWelcome {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
   }

   .containerWelcome>div {
      display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
   }

   #sectionTwo{
      max-width: 1440px;
      margin: 0 auto;
   }
   #sectionTwo>div:nth-child(3) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #sectionTwo>div:nth-child(3)>span {
      font-family: 'Pacifico', cursive;
      font-size: 2vw;
   }

   #sectionTwo>div:nth-child(3)>p {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      margin: 0px 27px 0px 27px;
   }

   #sectionTwo>div:nth-child(3)>img {
      margin-top: 25px;
   }

   .containerWelcome>div:nth-child(2)>img {
      max-width: 444px;
   }

   .containerWelcome>div>span {
      font-family: 'Pacifico', cursive;
      font-size: 2vw;
   }

   .containerWelcome>div>p {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      margin: 0px 27px 0px 27px;
   }

   .containerWelcome>div>img {
      margin-top: 25px;
      object-fit: contain;
   }

   #sectionCategories{
      max-width: 1440px;
    margin: 0 auto;
   }
   #sectionCategories>h3 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 4vw;
      margin-bottom: 0px;
   }

   .containerCategories {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
   }

   .containerCategories>div {
      width: 248px;

   }

   .containerCategories>div>a {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .containerCategories>div>a>span {
      font-family: "Montserrat";
      font-weight: 800;
      font-style: normal;
      font-size: 19px;
      text-align: center;
   }

   .buttonVerTodo {
      display: flex;
      background-color: #86bc42;
      max-width: 223px;
      align-items: center;
      margin: 0 auto;
      font-family: Montserrat;
      color: white;
      border-radius: 18px;
      height: 60px;
      margin-top: 54px;
      font-size: 35px;
      justify-content: center;
   }

   #sectionPopulares>h4 {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 4vw;
      margin-bottom: 0px;
   }

   .containerPopulares {
      display: flex;
      justify-content: space-evenly;
      font-family: montserrat;
      flex-wrap: wrap;
      align-items: flex-end;
   }

   .containerPopulares>div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 256px;
   }

   .containerPopulares>div>a {
      background-color: #86bc42;
      border-radius: 10px;
      color: white;
      text-align: center;
      height: 34px;
      font-size: 21px;
      width: 164px;
      justify-content: center;
      display: flex;
      padding: 1%;
      align-items: center;
   }

   .divNewsLetter {
      text-align: center;
    background-color: #86bc42;
    max-width: 1025px;
    margin: 0 auto;
    color: white;
    margin-top: 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    padding: 24px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);

   }


   .formNewsLetter {
      display: flex;
      flex-direction: column;
   }

   .divNewsLetter>span {
      font-size: 40px;
   }

   .divNewsLetter>p {
      font-size: 20px;
   }

   .formNewsLetter>label:nth-child(1)>input {
      border: none;
      font-family: montserrat;
      padding: 7px;
   }

   .formNewsLetter>label:nth-child(2)>input {
      font-size: 3vw;
      margin-bottom: 11px;
   }

   .formNewsLetter>label:nth-child(2) {
      font-size: 15px;
   }

   .formNewsLetter>input {
      width: 181px;
      font-family: Montserrat;
      margin: 0 auto;
      border-radius: 8px;
      background-color: white;
      padding: 5px;
      border: none;
      margin-top: 11px;
      font-size: 18px;
   }
   #sectionPopulares{
      max-width: 1440px;
      margin: 0 auto;
   }
}